* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  color: white;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 100px;
}

.index {
  background: url(../images/bcg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  width: 150px;
  margin: 0 auto;
  margin-top: 200px;
}

.description p {
  font-weight: 100;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 22px;
  text-align: center;
}

.sign-in,
.wish-btn {
  background-color: white;
  margin-right: 10px;
}

.login {
  background: transparent;
  margin-left: 10px;
  color: white !important;
}

.sign-in,
.regular-btn,
.login {
  border: 2px solid white;
  color: #003a53;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons {
  text-align: center;
  margin-top: 50px;
  align-self: center;
  justify-content: space-around;
}

button {
  border-radius: 5px;
}

/* Signed-page */

.signed-page,
.saved-jobs,
.add-job,
.job-view {
  background: #003a53;
}

.signed-page {
  margin-top: 200px;
}

.greeting {
  font-weight: 100;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.greeting h1 {
  font-size: 40px;
}

.greeting p {
  margin-top: 50px;
  line-height: 22px;
}

.saved-jobs-btn {
  background-color: white;
  margin-left: 10px;
}

/* Add job page */

.container h1 {
  font-size: 40px;
  font-weight: 100;
}

/* Saved jobs */

.saved-jobs {
  margin-top: 200px;
}

.rtable {
  margin-top: 30px;
  vertical-align: top;
  max-width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}

.rtable th {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.rtable td {
  padding: 20px 60px;
  color: #003a53;
}

.rtable tbody {
  background: white;
}

.spacer {
  height: 10px;
}

/* job view page */

.container-company {
  display: flex;
  font-size: 24px;
  line-height: 35px;
  font-weight: 100;
}

.company-info {
  width: 60%;
  padding: 30px;
}

.table-application {
  color: #003a53;
  background: white;
  border-radius: 5px;
  width: 40%;
  padding: 30px;
}
