* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* First page */

.img {
  background: url(../images/initial-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 113vh;
  float: left;
}

.title {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}

.signin {
  margin-top: 220px;
  width: 50%;
  float: right;
}

.description p {
  font-weight: 100;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 22px;
  text-align: center;
}

.username-form {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.username-form input {
  border: none;
  border-bottom: 1px solid;
  width: 300px;
  line-height: 40px;
}

.login-btn {
  background: #242323;
  color: white !important;
  width: 300px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.buttons {
  text-align: center;
  margin-top: 50px;
}

/* Signed-page */

.signed-page {
  background: #d3d3d3;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242323;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.sidenav a {
  background: #646464;
  width: 100%;
  color: white;
  display: flex;
  padding: 20px 0 20px 50px;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.icon img {
  position: absolute;
  width: 16px;
  margin: 18px;
}

.centralized {
  width: 80%;
  float: right;
}

.container-dashboard {
  display: flex;
  justify-content: center;
}

.total-applied {
  margin-right: 20px;
}

.scheduled-interview {
  margin-left: 20px;
}

.total-applied,
.scheduled-interview {
  width: 370px;
  height: 117px;
  background: white;
  margin-top: 76px;
}

.total-applied h3,
.scheduled-interview h3 {
  font-size: 15px;
  color: gray;
  padding: 20px 0 0 20px;
}

.total-applied p,
.scheduled-interview p {
  margin-top: 36px;
  width: 50%;
  float: left;
  font-weight: 500;
  font-size: 25px;
  padding-left: 20px;
}

.total-applied img,
.scheduled-interview img {
  width: 50%;
  padding-right: 20px;
}
